.map-canvas {
    height: 50%;
    width: 100%;
}

.news-details {
    color: grey;
    font-size: small;
}

.text-align-right {
    text-align: right;
}

.modal-container {
    text-align: center;
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
  }

.upload {
    text-align: center;
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
  }
